.gameRow{
    margin-top: 10vh;
    width: 100%;
    display:flex;
    justify-content:center;
}
.row{
    display:flex;
    justify-content:center;  
}
.game{
    margin-right: 5vw;
}
.displayG{
    background-color:#538d4e;
    width:2.5vw;
    height:2.5vw;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    display: flex;
    justify-content: center;
}
.displayY{
    background-color:#c9b458;
    width:2.5vw;
    height:2.5vw;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    display: flex;
    justify-content: center;
}
.displayN{
    background-color:#b3b3b3;
    width:2.5vw;
    height:2.5vw;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    display: flex;
    justify-content: center;
}

.text{
    font-size: 0px;
    position: absolute;
}
.hidden{
    font-size: 0px;
    position: absolute;
}

.keyboard{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #868686;
    left: 0px;
}
.key{
    width:8vh;
    height:8vh;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
}
.winPopup
{
    position:fixed;
    background-color: #121213;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}
.winText{
    font-size:50px;
    color: #fff;
    display: flex;
    justify-content: center;
}
header {
	background-color: #ffffff;
	color: black;
	vertical-align: middle;
    display: inline;
    overflow-y: scroll;
}
body{
    overflow: hidden;
    overflow-y: scroll;
    margin-left: 0px;
    margin-top: 0px;
}
head{
    background-color: #868686;
}
h1{
    display: flex;
    justify-content: center;
    background-color: #868686;
    margin-top: 0;
}